<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480738771831-97koqk3hdckjvq6ir8odsjplbjbdjbgc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480738771831-97koqk3hdckjvq6ir8odsjplbjbdjbgc</string>
	<key>API_KEY</key>
	<string>AIzaSyCaNmAaSEauKGfnrzOrM0IreI186ujLoT0</string>
	<key>GCM_SENDER_ID</key>
	<string>480738771831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewerydalipsaini.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-2e43a</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-2e43a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480738771831:ios:2fb84378a2b6280548d772</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-2e43a.firebaseio.com</string>
</dict>
</plist>